// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import 'carloio.scss';

/*===----------------------------------------------------------------------===//
     Config
//===----------------------------------------------------------------------===*/
$wrapperWidth: 578px;
$profileBorderWidth: 5px;
$profileWidth: 144px - ($profileBorderWidth*2);

// regular metrics
$mountain-height: 0px;

// Mobile Metrics
$mobile-canvas-height: 200px;
$mobile-mountain-height: 65px;

// Font Metrics
$base-font-size: 16px;
$title-size-multi:  2.5;

// Colors
$background-color: #0E141F;
$base-link-color: #FFF;
$footer-text-color: #A9CBE5;


/*===----------------------------------------------------------------------===//
     Master Styles
//===----------------------------------------------------------------------===*/
* { margin: 0; padding: 0;}

body, html {
    height:100%;
    font-family: 'Lato', sans-serif;
    font-size: $base-font-size;
    letter-spacing: 0.3px;
    font-weight: 400;
    background-color: $background-color;
    color: #FFF;

    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

#bgcanvas {
    bottom: $mountain-height;
}

.wrapper {
    width: $wrapperWidth;
    height: 150px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .left {
        width:$profileWidth;
        float: left;
    }

    .right {
        width:($wrapperWidth - $profileWidth - 23);
        height: 100%;
        float: right;

        h1 {
            font-size: ($base-font-size * $title-size-multi);
            font-weight: 300;
            margin: 0px;
            padding: 0px;
        }

        p {
            margin: 5px 0 15px 0;
            color: transparentize($base-link-color, 0.4);
            line-height: 1.5;

            a {
                text-decoration: none;
                color: $base-link-color;
                font-weight: 500;
            }

            a:hover {
                color: transparentize($base-link-color, 0.7);
                text-decoration: underline;
            }
        }

        ul.social {
            margin: 12px -3px;
            list-style-type: none;
            font-size: 20px;

            li {
                display: inline;
                margin-right: 5px;

                a {
                    text-decoration: none;
                    color: transparentize($base-link-color, 0.15);
                }

                a:hover {
                    text-decoration: none;
                    color: transparentize($base-link-color, 0.7);
                }
            }
        }
    }

    .avatar {
        margin: $profileBorderWidth 0;
        width: $profileWidth;
        height: $profileWidth;
        border-radius: ($profileWidth / 2);
        -webkit-border-radius: ($profileWidth / 2);
        -moz-border-radius: ($profileWidth / 2);
        border:$profileBorderWidth solid white;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        background: url(../images/profile.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-color: RGBA(255,255,255,0.15);
    }
}

footer {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 10px;

    font-size: 11px;
    color: transparentize($footer-text-color, 0.8);

    span {
        display: block;
    }

    a {
        color: transparentize($footer-text-color, 0.75);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
    }
}

.mountains {
    position: absolute;
    bottom: $mountain-height;
    width: 100%;

    .range {
        min-height: 119px;
        background-image: url(../images/mountains.png);
    }

    .base {
        display: none;
    }
}

@media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {

    .wrapper {
        .avatar {
                background-size: cover;
                background: url(../images/profile@2x.jpg) no-repeat;
            }
        }
    .mountains {
        .range {
            background-size: auto 119px;
            background-image: url(../images/mountains@2x.png);
        }
    }
}


/*===----------------------------------------------------------------------===//
     Media: 640px and below
//===----------------------------------------------------------------------===*/
@media screen and (max-width: 640px) {
    body {
        overflow: hidden;
        background-color: #366281;
    }

    #bgcanvas {
        height: $mobile-canvas-height;
        bottom: inherit;
        width: 100%;
    }

    .wrapper {
        margin: 35px auto;
        width: 80%;
        position: absolute;
        top:0px;
        z-index: 999;

        .left {
            width: 100%;
            height: $mobile-canvas-height - ($mobile-mountain-height/2);
        }

        .right {
            float: left;
            clear: both;
            width: 100%;

            text-align: center;

            h1 {
                font-size: 50px;
                margin-bottom: 10px;
            }

            p {
                line-height: 1.3;
                font-size: 16px;
            }

            ul.social {
                font-size: 32px;
                margin: 35px -3px;

                li {
                    a {
                        color: transparentize($base-link-color, 0.65);
                    }

                    a:hover {
                        color: transparentize($base-link-color, 0.2);
                    }
                }
            }
        }

        .avatar {
            width: $mobile-canvas-height/2;
            height: $mobile-canvas-height/2;
            margin: auto;
            border-radius: ($mobile-canvas-height/4);
            -webkit-border-radius: ($mobile-canvas-height/4);
            -moz-border-radius: ($mobile-canvas-height/4);
            background-position: center;
            background-size: cover;
        }
    }


    footer {
        .contents {
            margin: auto;
            width: 85%;
            border-top: 1px solid transparentize($footer-text-color, 0.9);
            padding-top: 10px;
        }
    }

    .mountains {
        top: $mobile-canvas-height - $mobile-mountain-height;

        .range {
                height: $mobile-mountain-height;
                top: 0;
        }

        .base {
            display: block;
            width: 100%;
            height: 100%;
            background-color: $background-color;
        }
    }
}

/*===----------------------------------------------------------------------===//
     Media: 510px and below
//===----------------------------------------------------------------------===*/
@media screen and (max-width: 510px) {
    .wrapper {

        width: 375px;

        .right {

            h1 { font-size: 40px; }


            p { font-size: 16px; }


            ul.social { font-size: 24px; }
        }
    }
}

/*===----------------------------------------------------------------------===//
     Media: Mobile
//===----------------------------------------------------------------------===*/
@media screen and (max-width: 360px) {
    .wrapper {

        max-width: 270px;

        .right {

            h1 { font-size: 36px; }


            p { font-size: 16px; }


            ul.social { font-size: 34px; }
        }
    }

    footer {
        .contents {
            font-size: 8px;
        }
    }
}